
.vuejs3-datepicker__calendar {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5) !important;
    border-radius: 20px !important;
}

.cell.day-header {
    text-transform: none !important;
    font-size: 85% !important;
    color: #6b7280 !important;
}

.vuejs3-datepicker__calendar-actionarea {
    background: none !important;
    padding: 15px !important;
    border-radius: 20px !important;
    
}


/* .vuejs3-datepicker__calendar-actionarea:hover {
    border: unset !important;
} */

/* .vuejs3-datepicker__calendar-actionarea .month__year_btn,
.vuejs3-datepicker__calendar-actionarea .day__month_btn {
    width: 53% !important;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 600;
} */


.vuejs3-datepicker__calendar-actionarea .prev,
.vuejs3-datepicker__calendar-actionarea .next {
    font-weight: 900 !important;
    width: 13.333% !important;
}

.vuejs3-datepicker__calendar-actionarea .prev:not(.disabled):hover,
.vuejs3-datepicker__calendar-actionarea .next:not(.disabled):hover {
    border-radius: 100%;
    background-color: rgb(239, 246, 255) !important;
}

/* .vuejs3-datepicker__calendar-actionarea .prev::after {
    margin: auto !important;
    position: unset !important;
    border: solid #6b7280 !important;
    border-width: 0 2px 2px 0 !important;
    padding: 3px;
    transform: rotate(135deg) !important;
}

.vuejs3-datepicker__calendar-actionarea .next::after {
    margin: auto !important;
    position: unset !important;
    border: solid #6b7280 !important;
    border-width: 0 2px 2px 0 !important;
    padding: 3px;
    transform: rotate(-45deg) !important;
} */

/* .vuejs3-datepicker__calendar-actionarea .cell.day {
    height: 39px !important;
    padding-top: 4px;
    margin-top: 2px;
    font-size: 1rem;
    color: #374151 !important;
} */

.vuejs3-datepicker__calendar-actionarea .cell.day.disabled {
    color: #9ca3af !important;
}

.vuejs3-datepicker__calendar-actionarea .cell.day.selected,
.vuejs3-datepicker__calendar-actionarea .cell.day.highlighted {
    background-color: rgb(239, 246, 255) !important;
    border-radius: 100%;
}

/* .vuejs3-datepicker__calendar-actionarea .cell.month {
    font-size: 1rem;
    display: inline-block !important;
    padding: 0 5px !important;
    height: 40px !important;
    line-height: 40px !important;
    text-align: center !important;
    vertical-align: middle !important;
    border: 1px solid transparent !important;
} */

/* .vuejs3-datepicker__calendar-actionarea .cell.month:hover:not(.disabled) {
    color: #275de9;
    border: 1px solid transparent !important;
} */

/* .vuejs3-datepicker__calendar-actionarea .cell.month.selected,
.vuejs3-datepicker__calendar-actionarea .cell.month.highlighted {
    background-color: rgba(33, 150, 243, 0.12) !important;
    color: #275de9;
    border-radius: 2rem;
} */

/* .vuejs3-datepicker__calendar-actionarea .cell.month.selected:hover,
.vuejs3-datepicker__calendar-actionarea .cell.month.highlighted:hover {
    border: 1px solid #4bd !important;
} */

.vuejs3-datepicker__calendar-topbar {
    display: none;
}

.vuejs3-datepicker__calendar-actionarea .cell.day {
    color: black !important;
    border: none !important;
    border-radius: 100%;
}

.vuejs3-datepicker__calendar-actionarea .cell.day:hover {
   /* background-color: rgb(195, 195, 234) !important; */
   border: none !important;
   background-color: rgb(239, 246, 255) !important;
   border-radius: 100%;
}

/* .vuejs3-datepicker__calendar-actionarea .cell.day.highlighted {
    border-radius: 15px !important;
} */

/* .vuejs3-datepicker__calendar-actionarea .cell.day.highlighted.highlight-start {
    height: 39px;
    width: 39px;
    padding: 4px;
    background-color: #275de9 !important;
    border-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    color: white !important;
} */

/* .vuejs3-datepicker__calendar-actionarea .cell.day.highlighted.highlight-start::after {
    border-right: solid #275de9;
    border-top-right-radius: 0px !important;
} */

/* .vuejs3-datepicker__calendar-actionarea .cell.day.highlighted.highlight-end {
    height: 39px;
    width: 39px;
    padding: 4px;
    background-color: #275de9 !important;
    border-radius: 20px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    color: white !important;
} */

/* .vuejs3-datepicker__calendar-actionarea .cell.day.highlighted.sat:not(.highlight-start):not(.highlight-end) {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.vuejs3-datepicker__calendar-actionarea .cell.day.highlighted.sun:not(.highlight-start):not(.highlight-end) {
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 20px !important;
}  */
